<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Customize ng-Grid</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/site.css" />
    <script src="/javascripts/lib.js"></script>

</head>

<body ng-app="GridDemo">
    <div class="container" ng-controller="GridDemoController">
        <h1>Odin - Grid</h1>
        {{hello}}

        <odin-grid odin-grid-options="customGrid"></odin-grid>

        <div class="form-group">
            <label class="col-sm-4 control-label">Sale Item Type</label>
            <div class="col-sm-8">
                <select kendo-drop-down-list ng-model="selectedSaleItemType" ng-options="saleItemType as saleItemType.text for saleItemType in saleItemTypeList"></select>
            </div>

    </div>

        <div>
            <h4>kendo UI grid test:</h4>
            <k-grid></k-grid>
        </div>


    </div>

    <script src="/javascripts/ngodin.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>
