//
   Created by vivi.jiang on 8/26/2014.

extends ../layout
block content
    div(ng-app='runDirectivesDemo')
        .container(ng-controller='runDirectivesDemoController')
            h1 Up and running with Angular Direcitives
            span {{hello}}

            uprunning

            ul(ng-repeat="tweet in tweets" say)
                li(ng-click="sayHello()") {{tweet.author}}

