doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      a(href='/demo/grid') grid
      ||
      a(href='/demo/validation') validation
    block content