doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/site.css')
    script(src='/javascripts/lib.js')

  body
      header.navbar.navbar-static-top.navbar-inverse
        .container
            ul.nav.navbar-nav
                li
                    a(href='/demo/grid') grid
                li
                    a(href='/demo/validation') validation
      .container
        block content
      footer
      script(src='/javascripts/ngodin.js')
      script(src='/javascripts/main.js')